<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Mr Grills Burgers</title>
        <meta charset="utf-8"/>
    </head>
    <body>
        <main>
            <h1> Welcome to Mr Grills Burgers</h1>
  

            <section>
                <h2>What kind of burger are you looking for?  </h2>
                <p>Please choose your burger</p>
                    <h3>The burger of death</h3>
                    <img src="https://thumbor.thedailymeal.com/h2zzijil7--FvRjJqNCPJolcQVg=/870x565/filters:focal(595x522:596x523)/https://www.thedailymeal.com/sites/default/files/2017/11/28/copy/shakeshack.jpg" alt="You might die.." title ="The burger of death" width="400">
                    <ul> <!onumredad lista>
                        <li>The biggest, baddest burger there is which double cheese slices per patty</li>
                        <li>2500 kcal</li>
                        <li>both gluten and lactose </li>
                    </ul> 
            </section>
            <section>
                <h3>Please enter your deliveryinformation</h3>
                <p>Here's where you insert your info</p>
            </section>
            
        </main>
            
        <footer>&copy; Mr Grills Burger</footer>
    </body>
    
</html>
           