<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Mr Grills Burgers</title>
        <meta charset="utf-8"/>
    </head>
    <body>
        <main>
            <h1> Welcome to Mr Grills Burgers</h1>

              <section>
                <h2>What kind of burger are you looking for?  </h2>
                <p>Please choose your burger</p>
                <table>
                    <thead> 
                        <tr>
                            <th>The burger of death</th>
                            <th> The "All good things come in three"</th>
                            <th> The salad deluxe</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                <ul> 
                                    <img src="https://thumbor.thedailymeal.com/h2zzijil7--FvRjJqNCPJolcQVg=/870x565/filters:focal(595x522:596x523)/https://www.thedailymeal.com/sites/default/files/2017/11/28/copy/shakeshack.jpg" alt="You might die.." title ="The burger of death" width="400">
                                    <li>The biggest, baddest burger there is which double cheese slices per patty</li>
                                    <li>2500 kcal</li>
                                    <li>Contains both gluten and lactose </li>
                                </ul>
                            </td>
                            <td>
                                <ul>
                                    <img src ="https://farm1.staticflickr.com/23/25199779_37a61d7b5b_b.jpg" alt="Small? take three" title="3 small bites" width="400">
                                    <li>For those who takes large bites</li>
                                    <li>Contains both lactose and gluten</li>
                                    <li>Finest Japanese wagyu beef</li>
                                </ul>
                            </td>
                            <td>
                                <ul>
                                    <img src ="https://www.max.se/contentassets/5c7a2201abd144fc94ca2bdf1788cb13/product_salad-wrap-burgare.jpg" alt="For those of you who likes salad" title ="Salad deluxe, works for everyone!"" width="400">
                                    <li>The burger for everyone </li>
                                    <li>Fully vegan and gluten free</li>
                                    <li>Newly developed vegan cheese and bean-meat</li>

                                </ul>
                            </td>
                        </tr>

                    </tbody>

                </table>
            </section>
            <section>
                <h3>Please enter your deliveryinformation</h3>
                <p>Here's where you insert your info</p>
            </section>
            
        </main>
            
        <footer>&copy; Mr Grills Burger</footer>
    </body>
    
</html>
           