/* COMMENT  */ 

@import url('https://fonts.googleapis.com/css?family=Bitter&display=swap');
@media screen and (max-width 800px) {
    h1 {
        font-size: 6vw;
    }
}
header > img {
    width: 100%;   
    height: 20em;
    width: 100%;
    opacity: 0.8;
    margin-left: 5px;
    margin-right: 5px;
}

header {
    overflow: hidden;
}
header > h1{
    text-align: center;
    position: absolute;
    height: 100px;
    color: black;
    margin-left: 8em;
    font-size: 6vh;
    margin-top: -5em;
}
body {
    font-family: 'Bitter', serif;
    font-size: 1.5vh ;
    color: darkmagenta;
    margin: 0 auto; 
 }

.allergies {
    font-weight: bolder;
}

#Burgers {
    color: white;
    background-color: black;
    margin-top: 5px;
    border: 2px dashed white;
    border-radius: 0.3cm;
    padding-left: 20px;
    margin-left: 5px;
    margin-right: 5px;
}

#deliveryinformation {
    border: 2px dashed black; 
    border-radius: 0.3cm;
    padding-left: 20px;
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 5px;
}

button {
    margin-top: 20px;
    margin-bottom: 20px;
}
button:hover {
    background-color: rgb(27, 255, 27); 
    cursor: all-scroll; 
}

.gridwrapper {
    display: grid; 
    grid-column-gap: 400px; 
    grid-template-columns: 100px 100px 100px;
    
}
.burger {
    border-radius: 5px; 
    padding: 20px; 
    font-size: 150%; 
}

.burgerA {
    grid-column: 1;
    grid-row: 1;
    width: 400px;
}
.burgerB {
    grid-column: 2;
    grid-row: 1;
    width: 400px;
}
.burgerC{
    grid-column: 3;
    grid-row: 1;
    width: 400px;
}

footer {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 10px;
}
